.form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}


.form__input {
    padding: 10px;
    border: 1px solid #ccc;

}


.form__button {
    padding: 10px;
    color: #fff;
    background-color: hsl(180, 100%, 25%);
    border: none;
   
}
.form__button:hover {
    background-color: hsl(180, 100%, 35%);
}
.form__button:active {
    background-color: hsl(180, 100%, 45%);
}